.product-display-page {
    margin: 2vw 4vw 0 4vw;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}

.gallery-images img {
    width: 100%;
}

.main-product-image {
    width: 100%;
    margin: 3rem 0;
}

.col h3:first-of-type {
    font-weight: 600;
}

.col h3 {
    margin: 2rem 0;
}

.product-attributes p {
    font-size: var(--sm-size);
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.product-amount p {
    font-family: 'Raleway', sans-serif;

}

.product-attributes {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.product-attribute {
    margin-bottom: 2rem;
}

.product-attribute li {
    list-style: none;
    border: 1px solid var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.attribute-values {
    display: grid;
    grid-template-columns: repeat(4, 2rem);
    grid-gap: 1rem;
    justify-content: center;
}

[data-type="swatch"] li {
    transform: scale(0.7);
    max-width: 2rem;
}

[data-type="text"] {
    display: grid;
    grid-template-columns: repeat(2, 3.9375rem);
    grid-gap: 1rem;
}

[data-type="text"] li {
    height: 2.8125rem;
}

.attribute-name {
    margin-bottom: 2rem;
}

.attribute-values li {
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 18px;
}

.add-to-cart-button {
    background: var(--main-green-color);
    color: white;
    padding: 1rem 3rem;
    border: 1px solid var(--main-green-color);
    font-weight: 600;
    line-height: 120%;
    width: 100%;
    margin: 1rem 0;
}

.selected-text-attribute {
    background: var(--main-text-color);
    color: white
}

.selected-swatch-attribute {
    border: 1px solid var(--main-green-color) !important;
}

.product-description {
    font-family: 'Roboto';
    font-weight: 400;
}

.product-description p {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.add-to-cart-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.product-title h3:first-of-type {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* Portrait orientation */
@media(min-width: 539px) {

    [data-type="swatch"] li {

        transform: scale(1);
    }

    [data-type="text"] li {

        transform: scale(1);
        max-width: 63px;
    }

    .add-to-cart-button {
        width: 70%;
    }
    .add-to-cart-button:hover {
        background-color: rgb(154, 247, 154);
        border-color: rgb(154, 247, 154);
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .gallery-images:hover {
        cursor: pointer;
    }
    .attribute-values li:hover{
        cursor: pointer;
        background-color: rgb(224, 224, 224);
    }
}

/* Tablets */
@media(min-width: 768px) {}

/* Laptops */
@media(min-width: 992px) {
    .product-display-page {
        margin: 5vw 8vw;
    }

    .product-attributes {
        flex-direction: column;

    }

    .product-attribute {
        margin-top: 4rem;
    }

    .attribute-values {
        justify-content: flex-start;
    }

    .add-to-cart-button {
        width: 100%;
    }

    .add-to-cart-wrapper {
        display: flex;
        justify-content: flex-start;

    }

    .row {
        display: flex;
        flex-direction: row-reverse;
    }

    .col-first {
        width: 30%;
    }

    .col-last {
        width: 70%;
        display: flex;
        gap: 3rem;
    }

    .main-product-image {
        width: 70%;
        max-height: 70vh;
        aspect-ratio: 3/1;
        margin: 0;
        object-fit: contain;
    }

    .gallery-images {
        display: block;
        margin-top: 0;
        width: 9%;
    }

    .gallery-images img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
        margin-bottom: 2rem;
    }

    .product-attributes {
        gap: 0;
    }

    .attribute-values {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Desktop */
@media(min-width: 1200px) {}