.products-category {
    margin-bottom: 5vh;
}
.catalog {
    margin-top: 5vw;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
}



/* Portrait orientation */
@media (min-width: 539px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablets */
@media (min-width: 768px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4rem;
    }
}

/* Laptops */
@media (min-width: 992px) {
    .catalog {
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .catalog {
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}
