:root {
    /* Colors */
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #c4c4c4bf;
    --alt-bg-color: #616161;
    --light-color: #fbfbfb;
    --primary-text-color: #1d1f22;
    --secondary-text-color: #8d8f9a;
    --inverted-text-color: #ededed;
    --strong-text-color: #2B2D31;
    --subtle-color: #cfcfcf;
    --primary-border-color: #8f8f8f;
    --shadow-color: rgba(17, 17, 16, 0.05);
    --strong-shadow-color: rgba(34, 34, 46, 0.16);
    --faded-color: rgba(250, 178, 141, 1);
    --primary-color: #ee6c4d;
    --icon-bg-color: #f9f9f9;
    --icon-dark-color: #1d1f22;
    --icon-dark-hover: #b6b7b8;
    --icon-fill-color: #e8e6e6;
    --loading-animation-gradient: #fff;
    /* Sizes */
    --regular-size: 1rem;
    --sm-size: 1.125rem;
    --md-size: 1.25rem;
    --lg-size: 1.375rem;
    --xl-size: 1.5rem;
    background-color: var(--primary-bg-color);
    transition: background 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    :root.dark {
        color-scheme: dark;
        background-color: #1a1a1a;
        /* Colors */
        --primary-bg-color: #1a1a1a;
        --secondary-bg-color: #1e1e1e61;
        --primary-text-color: #ffffff;
        --alt-bg-color: #5d5d5d;
        --secondary-text-color: #6c6c70;
        --strong-text-color: #0c0e10;
        --inverted-text-color: #393838;
        --subtle-color: #3c3c3c;
        --primary-border-color: #373737;

        --shadow-color: rgba(0, 0, 0, 0.32);
        --strong-shadow-color: rgba(177, 177, 177, 0.642);

        --icon-bg-color: #2d2d2d;
        --icon-fill-color: #3c3c3c;
        //--icon-dark-color: #969696;
        --icon-dark-color: #575757;
        --icon-dark-hover: #626466;

        background-color: var(--primary-bg-color);
        img {
            filter: brightness(0.8) contrast(1.2);
        }
    }
}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mx-1 {
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}
.d-flex {
    display: flex;
}
.ji-c {
    justify-items: center;
}
.jc-space-around {
    justify-content: space-around;
}
.jc-space-between {
    justify-content: space-between;
}
.jc-end {
    justify-content: end;
}
.ai-c {
    align-items: center;
}
.hidden {
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
}

/* Media queries */
/* Portrait orientation */
@media (min-width: 539px) {
}

/* Tablets */
@media (min-width: 768px) {
}

/* Laptops */
@media (min-width: 992px) {
}

/* Desktop */
@media (min-width: 1200px) {
}
