/* Mobile */
.navbar-links {
    a {
        padding-bottom: 0.5rem;
        text-decoration: none;
        font-weight: 400;
    }

    a:nth-of-type(2) {
        margin: 0 2vw;
    }

    .selected-link {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
        font-weight: 600;
    }

    .navbar-logo {
        padding: 0;
    }
}
.navbar-total {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected-currency {
    background-color: var(--icon-dark-hover);
    font-weight: 600;
}
.cart-products {
    display: none;
    visibility: hidden;
    width: 100vw;
    max-width: 400px;
    position: absolute;
    background: var(--primary-bg-color);
    top: 30px;
    right: -4.9vw;
    z-index: 30;
    transition: all 0.3s cubic-bezier(0.34, 0.54, 0.47, 1.08);
    box-shadow: var(--shadow-color) 0px 1px 0px, var(--shadow-color) 0px 0px 8px;
    li,
    p {
        list-style-type: none;
        font-weight: 700;
    }
    span {
        padding: 0.2rem;
        font-weight: 500;
    }
    max-height: 80vh;
    overflow-y: auto;
    padding: 1rem;
    opacity: 0;
    .row {
        flex-direction: row;
        margin-top: 3rem;
        padding: 0;
        h3,
        p {
            font-size: 1rem;
        }
        h3 {
            margin-top: 0;
        }
        p {
            padding: 0;
            font-weight: 700;
            span {
                font-weight: 500;
            }
        }
        .col {
            &:last-child {
                justify-content: space-between;
            }
            .cart-attributes {
                display: flex;
                justify-content: space-between;
                gap: 0.5rem;
            }
            .quantity-selector {
                .adjust-quantity {
                    margin: 1rem 0;
                }
            }
        }
        .cart-image-controls {
            display: none;
        }
        [data-type="swatch"] li {
            width: 1.125rem;
            height: 1.125rem;
        }
        [data-type="text"] li {
            font-size: 0.875rem;
            aspect-ratio: 1/1;
        }
        .product-attribute {
            margin-bottom: 0;
        }
    }
    .cart-buttons {
        gap: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        .view-bag-button {
            width: 100%;
            font-size: 0.875rem;
            background: var(--primary-border-color);
            border: 1px solid var(--primary-border-color);
            color: var(--primary-text-color);
            padding: 1rem;
            text-align: center;
            &:hover {
                background-color: var(--subtle-color);
                cursor: pointer;
                color: var(--primary-text-color);
                transition: all 0.3s ease-out;
            }
            &:last-child {
                background-color: var(--primary-color);
                border: 1px solid var(--primary-color);
                color: var(--icon-bg-color);
                &:hover {
                    color: var(--primary-text-color);
                    background-color: var(--faded-color);
                    cursor: pointer;
                    transition: all 0.3s ease-out;
                }
            }
        }
        button {
            background-color: var(--primary-color);
        }
    }
}
.navbar-logo {
    img {
        height: 31px;
        width: 31px;
    }
}
@keyframes moveAnim {
    from {
        margin-left: 0;
    }
    to {
    }
}

.toggle-theme-button {
    width: 40px;
    border: 1px solid var(--primary-border-color);
    border-radius: 15px;
    background-color: var(--icon-bg-color);
    padding: 0 3px;
    margin-left: 0;
    &:hover {
        cursor: pointer;
    }
    img {
        background-color: var(--icon-fill-color);
        border-radius: 50%;
        padding: 3px;
        margin-left: 0;

        transition: margin 0.1s ease-out;
    }
    // img:last-of-type {
    //     flex: 1;
    //     animation: moveAnim 0.3s alternate 1;
    // }
}
.animate-icon-toggle {
    margin-left: calc(100% - 16px) !important;
}
.dropdown-button {
    background-color: transparent;
    position: relative;
    p {
        width: 1.5rem;
        font-weight: 500;
        margin-right: 0.5rem;
        font-size: 1.125rem;
        text-align: end;
    }
}

.app-navbar {
    min-height: 80px;
    margin: 0 5vw;
}

.dropdown-arrow {
    transition: all 0.5s cubic-bezier(1, 0.06, 0, 1.29);
}

.cart-icon {
    margin-right: 0;
    background-color: transparent;
    position: relative;
}
.dark .cart-icon {
    & > img {
        -webkit-filter: invert(100%) hue-rotate(180deg) brightness(132%) contrast(100%) !important;
        filter: invert(100%) hue-rotate(180deg) brightness(132%) contrast(100%) !important;
    }
}
.dark .dropdown-button {
    & > img {
        -webkit-filter: invert(100%) hue-rotate(180deg) brightness(132%) contrast(100%) !important;
        filter: invert(100%) hue-rotate(180deg) brightness(132%) contrast(100%) !important;
    }
}
.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    p {
        color: var(--light-color);
        background: var(--primary-color);
        border-radius: 50%;
        width: 20px;
        line-height: 20px;
        text-align: center;
        font-weight: 600;
        font-size: 0.8rem;
    }
}

.currencies {
    position: absolute;
    background: var(--alt-bg-color);
    top: 30px;
    left: -4rem;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.34, 0.54, 0.47, 1.08);
    box-shadow: var(--shadow-color) 1px 1px 2px 0px, var(--shadow-color) 0px 0px 2px;
    font-size: var(--sm-size);
    button {
        width: 100%;
        padding: 1rem 1.5rem;
    }
    span {
        padding: 0.2rem;
    }
}

/* Portrait orientation */
@media (min-width: 539px) {
    .navbar-links a {
        padding-bottom: 1rem;
        &:hover {
            color: var(--primary-color);
        }
    }
    .toggle-theme-button {
        margin-right: 1.4rem;
    }

    .navbar-logo img {
        height: 41px;
        width: 41px;
    }
    .cart-icon {
        margin-left: 1.4rem;
    }
}

/* Tablets */
@media (min-width: 768px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }

    .currencies li {
        padding: 0.8rem 1.6rem;
    }

    .dropdown-button:hover {
        cursor: pointer;
    }

    .currencies button:hover {
        cursor: pointer;
        background: var(--icon-fill-color);
    }

    .cart-icon:hover {
        cursor: pointer;
    }
}

/* Laptops */
@media (min-width: 992px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
    .app-navbar {
        margin: 0 5vw;
    }
    .cart-products {
        .row {
            justify-content: space-between;
            .cart-attributes {
                flex-direction: column;
            }
            .image-display {
                width: 100px;
            }
        }
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
}
