/* Mobile */
.navbar-links {
    a {
        padding-bottom: 0.5rem;
        text-decoration: none;
        font-weight: 400;
    }

    a:nth-of-type(2) {
        margin: 0 2vw;
    }

    .selected-link {
        color: var(--main-green-color);
        border-bottom: 2px solid var(--main-green-color);
        font-weight: 600;
    }

    .navbar-logo {
        padding: 0;
    }
}
.navbar-total {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected-currency {
    background-color: var(--hover-gray-color);
}
.cart-products {
    visibility: hidden;
    width: 100vw;
    max-width: 400px;
    position: absolute;
    background: white;
    top: 30px;
    right: -4.9vw;
    z-index: 30;
    transition: all 0.3s cubic-bezier(0.34, 0.54, 0.47, 1.08);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.06) 0px 0px 8px;
    li,
    p {
        list-style-type: none;
        font-weight: 700;
    }
    span {
        padding: 0.2rem;
        font-weight: 500;
    }
    max-height: 80vh;
    overflow-y: auto;
    padding: 1rem;
    opacity: 0;
    .row {
        flex-direction: row;
        margin-top: 3rem;
        padding: 0;
        h3,
        p {
            font-size: 1rem;
        }
        h3 {
            margin-top: 0;
        }
        p {
            padding: 0;
            font-weight: 700;
            span {
                font-weight: 500;
            }
        }
        .col {
            &:last-child {
                justify-content: space-between;
            }
            .cart-attributes {
                display: flex;
                justify-content: space-between;
                gap: 0.5rem;
            }
            .quantity-selector {
                .adjust-quantity {
                    margin: 1rem 0;
                }
            }
        }
        .cart-image-controls {
            display: none;
        }
        [data-type="swatch"] li {
            width: 1.125rem;
            height: 1.125rem;
        }
        [data-type="text"] li {
            font-size: 0.875rem;
            aspect-ratio: 1/1;
        }
        .product-attribute {
            margin-bottom: 0;
        }
    }
    .cart-buttons {
        gap: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        .view-bag-button {
            width: 100%;
            font-size: 0.875rem;
            background: white;
            border: 1px solid var(--main-text-color);
            color: black;
            padding: 1rem;
            text-align: center;
            &:hover {
                background-color: var(--main-text-color);
                border-color: var(--main-text-color);
                cursor: pointer;
                color: white;
                transition: all 0.3s ease-out;
            }
            &:last-child {
                background-color: var(--main-green-color);
                border: 1px solid var(--main-green-color);
                color: white;
                &:hover {
                    background-color: white;
                    color: var(--main-green-color);
                    cursor: pointer;
                    transition: all 0.3s ease-out;
                }
            }
        }
        button {
            background-color: var(--main-green-color);
        }
    }
}
.navbar-logo {
    img {
        height: 31px;
        width: 31px;
    }
}

.dropdown-button {
    position: relative;

    p {
        font-weight: 500;
        margin-right: 1vw;
        font-size: 1.125rem;
    }
}

.app-navbar {
    min-height: 80px;
    margin: 0 5vw;
}

.dropdown-arrow {
    transition: all 0.5s cubic-bezier(1, 0.06, 0, 1.29);
}

.cart-icon {
    margin-left: 2vw;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    p {
        color: white;
        background: var(--main-text-color);
        border-radius: 50%;
        width: 20px;
        line-height: 20px;
        text-align: center;
        font-weight: 600;
        font-size: 0.8rem;
    }
}

.currencies {
    position: absolute;
    background: white;
    top: 30px;
    left: -4rem;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.34, 0.54, 0.47, 1.08);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.06) 0px 0px 8px;
    font-size: var(--sm-size);
    li {
        list-style-type: none;
        padding: 1rem 1.5rem;
    }
    span {
        padding: 0.2rem;
    }
}

/* Portrait orientation */
@media (min-width: 539px) {
    .navbar-links a {
        padding-bottom: 1rem;
        &:hover {
            color: var(--main-green-color);
        }
    }

    .navbar-logo img {
        height: 41px;
        width: 41px;
    }
}

/* Tablets */
@media (min-width: 768px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }

    .currencies li {
        padding: 0.8rem 1.6rem;
    }

    .dropdown-button:hover {
        cursor: pointer;
    }

    .currencies li:hover {
        background: #dddddd;
    }

    .cart-icon:hover {
        cursor: pointer;
    }
}

/* Laptops */
@media (min-width: 992px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
    .app-navbar {
        margin: 0 5vw;
    }
    .cart-products {
        .row {
            justify-content: space-between;
            .cart-attributes {
                flex-direction: column;
            }
            .image-display {
                width: 100px;
            }
        }
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
}
