/* Mobile */
.navbar-links a {
    margin: 1vw;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-weight: 400;
}
.app-navbar {
    min-height: 80px;
    padding: 0 3vw;
}
.navbar-links .selected-link {
    color: var(--main-green-color);
    border-bottom: 2px solid var(--main-green-color);
    font-weight: 600;
}
.navbar-logo {
    padding: 0;   
}
.navbar-logo img {
    height: 31px;
    width: 31px;
}
.dollar-icon {
    font-weight: 500;
    margin-right: 1vw;
    font-size: 1.125rem;
}
.dropdown-button {
    position: relative;
}
.dropdown-arrow {
    transition: all 0.5s cubic-bezier(1, 0.06, 0, 1.29);
}
.cart-icon {
    margin: 0 2vw 0 2vw;
}
.currencies {
    position: absolute;
    background: white;
    top: 30px;
    left: -4rem;
    z-index: 10;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.34, 0.54, 0.47, 1.08);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.06) 0px 0px 8px;
    font-size: var(--sm-size);
    //transition: max-height 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.currencies li {
    list-style-type: none;
    padding: 1rem 1.5rem;
}

.currencies span {
    padding: 0.2rem;
}
/* Portrait orientation */
@media(min-width: 539px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
    .navbar-logo img {
        height: 41px;
        width: 41px;
    }
}

/* Tablets */
@media(min-width: 768px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
    .currencies li {
        padding: 0.8rem 1.6rem;
    }
    .dropdown-button:hover {
        cursor: pointer;
    }
    .currencies li:hover {
        background: var(--hover-gray-color);
    }
    .cart-icon:hover {
        cursor: pointer;
    }
}

/* Laptops */
@media(min-width: 992px) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
}

/* Desktop */
@media(min-width: 1200px ) {
    .navbar-links a {
        padding-bottom: 1rem;
    }
}